div {
  position: absolute;
  top: 0px;
  left: 0px;

  background: white;
  border-radius: 25px;
}

ul {
  margin: 0;
  padding: 10px 15px;

  list-style-type: none;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

li:hover {
  background-color: lightgray;
}

.none {
  background-color: blue;
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}